<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RiotKey" value="31c4ded7-3de9-423e-bdbf-7fd6665e011b"/>
    <add key="PushalotKey" value="01e7b9c9dcc343f595d86c2517710e9f"/>
  </appSettings>
</configuration>