<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="RiotKey" value="API_KEY"/>
    <add key="PushalotKey" value="API_KEY"/>
    <add key="Summoners" value="DG Skhar|DG Space|DG Power of Hue|DG Odeio Toboco|DG nekocora|DG Wally|DG Darkness|DG Edge|DG mzi|DG Sampapito|DG Sarinha|DG Murphy|DG Zar|DG Hyukjae|DG Papillon001|DG Leonoak222|DG Sarinha|Minerva|4LaN|Aang1|Abnegação|Absolut209|AdC Alot|adc do autofill|Ahri Main|Akatsuki Mills|ALcT Top bosta|all hail haunter|andei trollando|Areksuu|astro|Avengerxs|Ayk|b g ô b|BabyMisty|Bd JooKeR|beast mid laner|BG Lenovo Rngr|BG Ranger|bigpepe|Bl4keouS|Blinkerino|boca no pico|BoIinhoDeArroz|BRAVE Brevot|BRAVE Cabuloso|BRAVE Sarkis|BRAVE Thulz|brtw amorzinho"/>
  </appSettings>
</configuration>